@page "/register"
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
<h3>Register</h3>
<EditForm Model="user" OnSubmit="HandleRegister">
    <label for="username">Name</label>
    <InputText id="username" @bind-Value="user.Username"/>
    <label for="password">Password</label>
    <InputText id="password" @bind-Value="user.Password" type="password"/>
    <button type="submit" class="btn btn-primary">Register</button>
</EditForm>
@code{
    UserDto user=new UserDto();
    async Task HandleRegister()
    {
        var result=await Http.PostAsJsonAsync("api/Auth/register",user);
        var token=await result.Content.ReadAsStringAsync();
        if(!result.IsSuccessStatusCode)
            Console.WriteLine($"Error: {result.ReasonPhrase}, {token}");
        else {
            NavigationManager.NavigateTo("/");
        }
    }
}
